#root {
  height: 100vh;

}

.block--dashboard {
  width: 100%;
  height: 100%;
}

.block--products-container {
  display: flex;
  flex-wrap: wrap;
}

.block--products-container div {
  margin: 0.5rem 1rem;
}

.block--search-container{
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.product--link {
  text-decoration: none;
}

