nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(121, 156, 133);
}

.nav--item {
    color: black;
    list-style: none;
    text-decoration: none;
}
